@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&family=Jost:ital,wght@0,400;0,700;1,300&display=swap');

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	background-color: #a02882;
	background-image: url("images/bg.jpg");
	background-position: top 450px center;
	background-repeat: no-repeat;
	color: white;
	font-family: 'Jost', sans-serif;
	font-size: 16px;
	min-width: 300px;
}

p {
	line-height: 22px;
	text-align: justify;
}

.light-italic {
	font-weight: 300;
	font-style: italic;
}

header {
	position: sticky;
	top: 0;
	width: 100%;
	background-color: white;
	color: #29235c;
	transition: box-shadow 0.4s;
    padding-top: 30px !important;
	padding-bottom: 30px !important;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header.scrolled {
	box-shadow: 0 0 15px #00000044;
}

header img {
	width: 176px;
}

nav {
	font-size: 16px;
	text-transform: uppercase;
}

nav a {
	margin-left: 50px;
}

.content-pad {
	padding: 30px calc((100% - 1280px) / 2);
}

h1 {
	text-transform: uppercase;
	font-size: 56px;
	font-weight: normal;
	margin: 0;
	margin-bottom: 35px;
}

#care {
	font-family: 'EB Garamond', sans-serif;
	font-size: 92px;
	text-transform: lowercase;
	font-weight: 800;
	line-height: 56px;
	color: #ec619f;
}

h2 {
	font-family: 'EB Garamond', sans-serif;
	font-size: 54px;
	font-weight: 800;
	margin: 0;
	margin-bottom: 60px;
	color: #c42a87;
}

#bambini {
	height: 355px;
	background-color: white;
	background-image: url("images/bambini.png");
    background-position: bottom center;
	background-size: auto 300px;
	background-repeat: no-repeat;
}

#precisione {
	height: 620px;
	background-color: #484747;
	background-image: url("images/precisione.jpg");
	background-position: center;
	background-size: auto 100%;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#precisione h2 {
	color: white;
}

#precisione h2, #precisione p {
	width: 360px;
}

#progetti {
	padding-top: 40px;
	padding-bottom: 40px;
}

#progetti a {
	font-size: 21px;
	text-decoration: none;
	text-transform: uppercase;
}

#hbLogo {
	margin-bottom: 25px;
	max-width: 100%;
}

.columns2 {
	width: 100%;
	display: flex;
	align-items: stretch;
}

.columns2 > img {
	display: block;
	width: calc((100% - 1280px) / 2 + 1280px * 0.6); /* content-pad + 60% */
	min-height: 620px;
	max-height: 760px;
	object-fit: cover;
}

.columns2 > div {
	background-color: white;
	color: #29235c;
	width: calc((100% - 1280px) / 2 + 1280px * 0.4); /* content-pad + 40% */
	padding: 95px;
	padding-right: calc((100% - 1280px) / 2);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.reverse {
	flex-direction: row-reverse;
}

.reverse > div {
	background-color: transparent;
	color: white;
	padding-right: 95px;
	padding-left: calc((100% - 1280px) / 2);
}

.reverse h2, .reverse .read-more, #progetti h2, #bottom h2, #progetti a {
	color: #ec619f;
}

.arrow {
	font-size: 23px;
	line-height: 16px;
}

.read-more {
	margin-top: 10px;
	margin-bottom: 28px;
	display: block;
	width: 100%;
	text-align: right;
	color: #c42a87;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
}

a.button {
	background: linear-gradient(to right, #ec008c, #25408f);
	color: white;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	padding: 10px 13px;
	border-radius: 10px;
	border: 1px solid white;
}

#bottom > img {
	width: 176px;
}

#newsGrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 90px;
}

#newsGrid > a {
	display: block;
	text-decoration: none;
	height: 360px;
}

#newsGrid img {
	display: block;
	width: 100%;
	height: 180px;
	object-fit: cover;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.news-text {
	width: 100%;
	height: 180px;
	background-color: white;
	color: #29235c;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	padding: 14px;
	overflow: hidden;
}

.news-text b {
	display: block;
	font-size: 15px;
	margin-bottom: 20px;
}

.news-text span {
	font-size: 13px;
}

#otherNews {
	margin: 80px;
	text-align: center;
}

#otherNews a {
	background-color: #a6a5a5;
	color: white;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	padding: 9px 23px;
	border-radius: 10px;
}

footer {
	margin-top: 20px;
	font-size: 14px;
	display: grid;
	grid-template-columns: 3fr 1px 2fr 1px 2fr 1px 3fr;
	gap: 60px;
}

footer hr {
	border: 0;
	border-right: 1px solid white;
}

footer img {
	display: inline-block;
	height: 27px;
	margin-top: 30px;
	margin-right: 35px;
}

footer form {
	width: 100%;
	max-width: 240px;
	margin-top: 20px;
	border-radius: 11px;
	background-color: white;
	display: flex;
	justify-content: stretch;
}

footer input {
	font-family: 'Jost', sans-serif;
	font-size: 14px;
	border: none;
	padding: 5px 8px;
}

footer input::placeholder {
	color: #a5a4a4;
}

footer input:first-child {
	width: calc(100% - 80px);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

footer input:last-child {
	width: 80px;
	border-radius: 10px;
	background-color: #a6a5a5;
	color: white;
	text-transform: uppercase;
	font-weight: 700;
}

#copyright {
	font-size: 14px;
	margin-top: 35px;
	margin-bottom: 150px;
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 1440px) {
	.content-pad {
		padding: 30px 95px;
	}

	.columns2 > div {
		padding-left: 95px;
		padding-right: 95px;
	}

	.columns2 > img {
		max-height: unset;
	}
}

@media screen and (max-width: 1000px) {
	.content-pad {
		padding: 20px 7%;
	}
}

@media screen and (max-width: 650px) {
	.content-pad {
		padding: 15px 7%;
	}

	body {
		font-size: 18px;
	}

	p {
		line-height: 22px;
	}

	header {
		padding-top: 15px !important;
		padding-bottom: 15px !important;
	}

	header img {
		width: 167px !important;
		height: 52px !important;
	}

	#bambini {
		height: 272px;
		background-size: auto 240px;
	}

	h1, h2 {
		font-size: 35px;
		margin-bottom: 20px;
	}

	#care {
		font-size: 57px;
		line-height: 35px;
	}

	footer {
		font-size: 15px;
	}

	footer img {
		width: 140px;
		height: auto;
	}
}
