@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600;800&family=Jost:ital,wght@0,400;0,700;1,300&display=swap');

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	position: relative;
	background-color: #a02882;
	background-image: url("images/bg.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	color: white;
	font-family: 'Jost', sans-serif;
	font-size: 16px;
	min-width: 350px;
}

p {
	line-height: 22px;
	text-align: justify;
}

a {
	text-decoration: none;
}

.content-pad {
	padding: 40px calc((100% - 1280px) / 2);
}

header {
	position: sticky;
	padding-top: 30px !important;
	padding-bottom: 30px !important;
	top: 0;
	width: 100%;
	background-color: white;
	color: #29235c;
	transition: box-shadow 0.4s;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
}

header.scrolled {
	box-shadow: 0 0 15px #00000044;
}

header img:first-child {
	width: 176px;
}

nav {
	font-size: 16px;
	text-transform: uppercase;
}

nav a {
	color: #29235c;
}

header nav a {
	margin-left: 50px;
}

#hamburger {
	display: none;
	cursor: pointer;
}

#mobileMenu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-width: 350px;
	background-color: white;
	z-index: 10000;
	opacity: 0;
	pointer-events: none;
}

#mobileMenu nav {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

#mobileMenu.visible {
	opacity: 1;
	pointer-events: all;
}

#bambini {
	position: relative;
	width: 100%;
	height: 300px;
	overflow: hidden;
}

#bambiniContainer {
	position: absolute;
	width: 1440px;
	height: 300px;
	left: calc((100% - 1440px) / 2);
	overflow: hidden;
}

#bambiniImage {
	display: block;
	position: relative;
	width: 6560px;
	height: 300px;
	left: 0;
	z-index: 1;
	transition: left 2s;
}

#bambiniMask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right,
		white 0,
		white calc((100% - 1440px) / 2),
		transparent calc((100% - 1280px) / 2),
		transparent calc(100% - (100% - 1280px) / 2),
		white calc(100% - (100% - 1440px) / 2),
		white 100%
	);
	z-index: 2;
}

h1 {
	text-transform: uppercase;
	font-size: 56px;
	font-weight: normal;
	margin: 0;
	margin-bottom: 35px;
}

.care {
	font-family: 'EB Garamond', sans-serif;
	font-size: 92px;
	text-transform: lowercase;
	font-weight: 800;
	line-height: 56px;
	color: #ec619f;
}

h2 {
	font-family: 'EB Garamond', sans-serif;
	font-size: 54px;
	font-weight: 800;
	margin: 0;
	margin-bottom: 60px;
	color: #ec619f;
}

h3 {
	font-family: 'EB Garamond', sans-serif;
	font-size: 57px;
	font-weight: 600;
	margin-top: 20px;
	margin-bottom: 0;
}

#ideas {
	position: relative;
	overflow: hidden;
}

#textSpacing {
	opacity: 0;
	user-select: none;
}

#textSlides {
	position: absolute;
	top: 0;
	left: 0;
	height: 1000%;
}

#textSlides > div {
	height: 20%;
}

#precisione {
	height: 620px;
	background-color: #484747;
	background-image: url("images/precisione.jpg");
	background-position: center;
	background-size: auto 100%;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#precisione h2 {
	color: white;
}

#precisione h2, #precisione p {
	max-width: 360px;
}

.columns2 {
	width: 100%;
	display: flex;
	align-items: stretch;
}

.columns2 > img {
	display: block;
	width: calc((100% - 1280px) / 2 + 1280px * 0.6); /* content-pad + 60% */
	min-height: 620px;
	max-height: 760px;
	object-fit: cover;
}

.columns2 > div {
	width: calc((100% - 1280px) / 2 + 1280px * 0.4); /* content-pad + 40% */
	padding: 40px 95px;
	padding-right: calc((100% - 1280px) / 2);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.white-text {
	background-color: white;
	color: #29235c;
}

.white-text h2, .white-text .read-more {
	color: #c42a87;
}

.reverse {
	flex-direction: row-reverse;
}

.reverse > div {
	padding-right: 95px;
	padding-left: calc((100% - 1280px) / 2);
}

.small-img > img {
	width: calc((100% - 1280px) / 2 + 1280px * 0.4);
}

.small-img > div {
	width: calc((100% - 1280px) / 2 + 1280px * 0.6);
}

.arrow {
	font-size: 23px;
	line-height: 16px;
}

.read-more {
	margin-top: 10px;
	display: block;
	width: 100%;
	text-align: right;
	color: #ec619f;
	text-transform: uppercase;
	font-weight: bold;
}

a.button {
	display: inline-block;
	margin-top: 28px;
	background: linear-gradient(to right, #ec008c, #25408f);
	color: white;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 10px 13px;
	border-radius: 10px;
	border: 1px solid white;
}

.uppercase {
	display: inline-block;
	font-size: 21px;
	text-transform: uppercase;
	margin-bottom: 6px;
	text-align: left;
}

#hbLogo {
	margin-bottom: 25px;
	width: 306px;
	max-width: 100%;
}

#hbBackground {
	width: 60%;
}

#facce {
	margin: 50px 0;
	display: flex;
	align-items: stretch;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 70px;
}

#facce > div {
	width: 330px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#facce > div > img {
	width: 162px;
	border-radius: 16px;
}

#facce b {
	font-family: 'EB Garamond', sans-serif;
	font-size: 24px;
	color: #ec619f;
	margin: 11px 0;
}

#facce i {
	display: inline-block;
	font-weight: 300;
	margin-top: 30px;
	min-height: 117px;
}

#facce span {
	display: flex;
	width: 130px;
	align-items: flex-end;
	justify-content: space-between;
}

#bottomLogo {
	width: 176px;
}

#newsFlex {
	display: flex;
	align-items: stretch;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 60px;
}

#newsFlex > a {
	display: block;
	width: 240px;
	border-radius: 15px;
	overflow: hidden;
}

#newsFlex img {
	display: block;
	width: 100%;
	height: 180px;
	object-fit: cover;
}

.white-news {
	background-color: white;
	padding-top: 70px !important;
	padding-bottom: 70px !important;
}

.white-news > a {
	border: 1px solid #c42a87;
}

.news-text {
	width: 100%;
	min-height: 180px;
	background-color: white;
	color: #29235c;
	padding: 14px;
	overflow: hidden;
}

.news-text b {
	display: block;
	font-size: 15px;
	margin-bottom: 20px;
}

.news-text span {
	font-size: 13px;
}

#otherNews {
	margin: 80px 0;
	text-align: center;
}

#otherNews a {
	background-color: #a6a5a5;
	color: white;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 9px 23px;
	border-radius: 10px;
}

footer {
	margin-top: 20px;
	font-size: 14px;
	display: grid;
	grid-template-columns: 3fr 1px 2fr 1px 2fr 1px 3fr;
	gap: 60px;
}

footer hr {
	border: 0;
	border-right: 1px solid white;
}

footer img {
	display: inline-block;
	height: 27px;
	margin-top: 30px;
	margin-right: 35px;
}

footer form {
	width: 100%;
	max-width: 240px;
	margin-top: 20px;
	border-radius: 11px;
	background-color: white;
	display: flex;
	justify-content: stretch;
}

footer input {
	font-family: 'Jost', sans-serif;
	font-size: 14px;
	border: none;
	padding: 5px 8px;
}

footer input::placeholder {
	color: #a5a4a4;
}

footer input:first-child {
	width: calc(100% - 80px);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

footer input:last-child {
	width: 80px;
	border-radius: 10px;
	background-color: #a6a5a5;
	color: white;
	text-transform: uppercase;
	font-weight: 700;
}

#copyright {
	font-size: 14px;
	margin-top: 35px;
	margin-bottom: 150px;
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 1440px) {
	.content-pad {
		padding: 30px 80px;
	}

	#bambiniMask {
		background: none;
	}

	.columns2 > img {
		max-height: unset;
		width: 55%;
	}

	.columns2 > div {
		padding-left: 80px;
		padding-right: 80px;
		width: 45%;
	}

	.small-img > img {
		width: 45%;
	}
	
	.small-img > div {
		width: 55%;
	}

	footer {
		gap: 35px;
	}
}

@media screen and (max-width: 1060px) {
	header nav {
		display: none;
	}

	#hamburger {
		display: block;
	}

	.content-pad {
		padding: 30px 60px;
	}

	.columns2 > img {
		width: 45%;
	}

	.columns2 > div {
		padding-left: 60px;
		padding-right: 60px;
		width: 55%;
	}

	footer {
		grid-template-columns: 1fr 1px 1fr;
		gap: 60px;
	}

	footer hr:nth-child(4) {
		display: none;
	}
}

@media screen and (max-width: 800px) {
	.content-pad {
		padding: 30px 7%;
	}

	header {
		padding-top: 15px !important;
		padding-bottom: 15px !important;
	}

	header img:first-child {
		width: 150px;
	}

	h1 {
		font-size: 35px;
		margin-bottom: 20px;
	}

	h2 {
		font-size: 39px;
		margin-bottom: 20px;
	}

	h3 {
		margin-top: 10px;
		font-size: 40px;
	}

	.care {
		font-size: 57px;
		line-height: 35px;
	}

	.uppercase {
		font-size: 18px;
	}

	.columns2 {
		flex-direction: column !important;
	}

	.columns2 > img {
		width: 100%;
		min-height: unset;
		max-height: unset;
	}

	.columns2 > div {
		width: 100%;
		padding-left: 7%;
		padding-right: 7%;
	}

	#precisione {
		justify-content: flex-start;
		background-image: url("images/precisione800.jpg");
	}

	#precisione h2, #precisione p {
		width: 77%;
	}

	#hbBackground {
		width: 100%;
	}

	#otherNews a {
		font-size: 16px;
	}

	footer {
		grid-template-columns: 1fr;
		gap: 25px;
	}

	footer hr {
		display: block !important;
		width: 100%;
		border-right: 0;
		border-bottom: 1px solid white;
	}

	#copyright {
		flex-direction: column;
	}
}
