@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&family=Jost:ital,wght@0,400;0,700;1,300&display=swap');

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	background-color: white;
	color: #29235c;
	font-family: 'Jost', sans-serif;
	font-size: 16px;
	min-width: 300px;
}

p {
	line-height: 22px;
	text-align: justify;
}

.light-italic {
	font-weight: 300;
	font-style: italic;
}

header {
	position: fixed;
	top: 0;
	transition: box-shadow 0.4s;
    padding-top: 30px !important;
	padding-bottom: 30px !important;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header.scrolled {
	box-shadow: 0 0 15px #00000044;
}

header img {
	width: 200px;
	height: 62px;
}

nav {
	font-size: 16px;
	text-transform: uppercase;
}

nav a {
	margin-left: 50px;
}

.section {
	width: 100%;
	padding: 30px calc((100% - 1280px) / 2);
	background-repeat: no-repeat;
}

.light {
	background-color: white;
	color: #273584;
}

.dark {
	color: white;
}

h1 {
	text-transform: uppercase;
	font-size: 56px;
	font-weight: normal;
	margin: 0;
	margin-bottom: 35px;
}

#care {
	font-family: 'EB Garamond', sans-serif;
	font-size: 92px;
	text-transform: lowercase;
	font-weight: 800;
	line-height: 56px;
	color: #ec619f;
}

h2 {
	font-family: 'EB Garamond', sans-serif;
	text-transform: lowercase;
	font-size: 54px;
	font-weight: 800;
	margin: 0;
	margin-bottom: 60px;
	color: #c42a87;
}

#bambini {
	margin-top: 170px; /* > header size */
	height: 300px;
	background-image: url("images/bambini.png");
    background-position: center center;
	background-size: auto 100%;
}

.columns2 {
	width: 100%;
	display: flex;
	align-items: stretch;
}

.columns2 > img {
	display: block;
	width: 60%;
	min-height: 620px;
	object-fit: cover;
}

.columns2 > div {
	width: 40%;
	padding: 95px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.reverse {
	flex-direction: row-reverse;
}

.reverse > div {
	background: linear-gradient(to right, #c61480, #b02281);
	color: white;
}

.reverse h2, .reverse .read-more {
	color: #ec619f;
}

.arrow {
	font-size: 23px;
	line-height: 16px;
}

.read-more {
	display: inline-block;
	width: 100%;
	text-align: right;
	color: #c42a87;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
}

#ideas {
	background-color: #882e83;
	background-image: url("images/bg.jpg");
    background-position: center top;
}

#menti {
	background-color: #882e83;
	background-image: url("images/bg.jpg");
    background-position: center center;
}

#precisione {
	min-height: 824px;
	background-color: #474747;
	background-image: url("images/precisione.jpg");
    background-size: auto 100%;
	background-position: center center;
}

#precisione p {
	width: 52%;
}

footer {
	background-color: #393582;
	background-image: url("images/bg.jpg");
    background-position: center bottom;
	text-align: center;
	font-size: 18px;
}

footer img {
	display: inline-block;
	margin: 15px;
	width: 214px;
	height: 67px;
}

footer a {
	color: white;
	text-decoration: none;
}

@media screen and (max-width: 1440px) {
	.section {
		padding: 30px 90px;
	}
}

@media screen and (max-width: 1000px) {
	.section {
		padding: 20px 7%;
	}
}

@media screen and (max-width: 650px) {
	.section {
		padding: 15px 7%;
	}

	body {
		font-size: 18px;
	}

	p {
		line-height: 22px;
	}

	header {
		padding-top: 15px !important;
	}

	header img {
		width: 167px !important;
		height: 52px !important;
	}

	#bambini {
		margin-top: 87px; /* header size */
		height: 200px;
	}

	h1, h2 {
		font-size: 35px;
		margin-bottom: 20px;
	}

	#care {
		font-size: 57px;
		line-height: 35px;
	}

	#precisione p {
		width: 75%;
	}

	footer {
		font-size: 15px;
	}

	footer img {
		width: 140px;
		height: auto;
	}
}
